.tx-color {
  color: #e0d3d2 !important; }

.text-color {
  color: #cfcece !important; }

.bg-color {
  background-color: #302621 !important; }

.clearfix {
  content: "";
  clear: both; }

.action {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.mr-60 {
  margin-right: 60px; }

.close {
  color: white;
  display: block;
  text-decoration: none; }
  .close i {
    display: block; }
  .close :hover {
    color: black; }

.function {
  display: flex;
  justify-content: space-between; }

.function__list {
  display: flex; }

.function__item {
  background-color: #58493f;
  border: 0;
  padding: 7px 15px;
  margin-left: 5px;
  color: #d0cdcc;
  border: 1px solid #9c918a;
  border-radius: 3px; }

@media (max-width: 1023px) {
  .function {
    display: block; }

  .function__list {
    margin-bottom: 20px; }

  .function__item {
    padding: 5px 8px; } }
@media (max-width: 992px) {
  .function {
    display: block; }

  .function__list {
    margin-bottom: 20px; }

  .function__item {
    padding: 5px 8px; } }
@media (max-width: 575px) {
  .function {
    display: block; }

  .function__list {
    display: block;
    margin-bottom: 20px; }

  .function__item {
    padding: 2px;
    margin-bottom: 10px; } }
.title {
  color: #ffffff; }

@media (max-width: 992px) {
  .title {
    font-size: 20px; } }
.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.table-color {
  background-color: #594e48; }
  .table-color td {
    color: #d9d7d6;
    padding: 8px; }

th {
  text-align: left;
  color: #d9d7d6;
  padding: 8px; }

.page {
  margin-top: 40px;
  width: 300px; }

.pagination {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0;
  background-color: #1c1613;
  border: 1px solid #9c918a;
  border-radius: 3px; }
  .pagination .page__item {
    list-style: none;
    display: block;
    text-align: center;
    border-right: 1px solid #9c918a; }
    .pagination .page__item .page__link {
      color: #cfcece;
      text-decoration: none;
      display: block;
      padding: 8px 10px; }

.nav-sidebar {
  display: none;
  color: #e0d3d2;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 5px; }

@media (max-width: 1023px) {
  .nav-sidebar {
    display: block;
    text-align: center; } }
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 9; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.nav-input:checked ~ .nav-overlay {
  display: block;
  transition: fadeIn linear 0.2s; }

.nav-input:checked ~ .sidebar-mobile {
  transform: translateX(0);
  opacity: 1; }

.sidebar-mobile {
  background-color: #4e443d;
  width: 250px;
  max-width: 100%;
  float: left;
  position: absolute;
  min-height: 100vh;
  top: 0;
  z-index: 999;
  left: 0;
  transform: translateX(-100%);
  transition: transform linear 0.3s, opacity linear 0.2s; }

@media (max-width: 575px) {
  .sidebar-mobile {
    width: 200px; } }
.sidebar-mobile__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 10px; }

.sidebar-mobile__list {
  margin: 0;
  padding-top: 20px; }
  .sidebar-mobile__list .sidebar-mobile__item {
    list-style: none;
    display: block; }
    .sidebar-mobile__list .sidebar-mobile__item .sidebar-mobile__link {
      text-decoration: none;
      color: #a79f9a;
      display: block;
      padding: 10px; }

.sidebar-mobile__link:hover {
  color: white !important;
  border-right: 3px solid #dd7d4a; }

.sub-sidebar-mobile__list {
  margin: 0;
  padding-left: 60px;
  background-color: #2a2523; }
  .sub-sidebar-mobile__list .sub-sidebar-mobile__item {
    list-style: none;
    display: block; }
    .sub-sidebar-mobile__list .sub-sidebar-mobile__item .sub-sidebar-mobile__link {
      text-decoration: none;
      color: #827670;
      display: block;
      padding: 9px 0; }

.profile {
  position: absolute;
  top: 100%;
  right: 4%;
  margin: 0;
  padding: 0;
  z-index: 999;
  background-color: #655351;
  width: 150px;
  height: 100px;
  padding-left: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  transition: all 0.4s cubic-bezier(0.52, 0.31, 0.22, 0.67); }

.profile::before {
  position: absolute;
  top: -36%;
  right: 0;
  width: 100px;
  height: 50px;
  content: "";
  display: block; }

.profile__item {
  list-style: none; }
  .profile__item .profile__link {
    display: block;
    text-decoration: none;
    color: #c9b7b4;
    padding: 10px 0; }
    .profile__item .profile__link:hover {
      color: white !important; }

.setting {
  list-style: none; }

.setting:hover > .profile {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.52, 0.31, 0.22, 0.67); }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle; }

.sidebar {
  background-color: #4e443d;
  width: 16.666667%;
  float: left;
  min-height: 100vh; }

@media (max-width: 992px) {
  .sidebar {
    display: none; } }
.sidebar__list {
  margin: 0;
  padding-top: 20px; }
  .sidebar__list .sidebar__item {
    list-style: none;
    display: block; }
    .sidebar__list .sidebar__item .sidebar__link {
      text-decoration: none;
      color: #a79f9a;
      display: block;
      padding: 10px; }

.sidebar__link:hover {
  color: white !important;
  border-right: 3px solid #dd7d4a; }

.sub-sidebar__list {
  margin: 0;
  padding-left: 60px;
  background-color: #2a2523; }
  .sub-sidebar__list .sub-sidebar__item {
    list-style: none;
    display: block; }
    .sub-sidebar__list .sub-sidebar__item .sub-sidebar__link {
      text-decoration: none;
      color: #827670;
      display: block;
      padding: 9px 0; }

.header {
  display: flex; }

.header__left {
  width: 16.666667%;
  background-color: #5f5048;
  display: flex;
  justify-content: space-between;
  border: 1px solid #8b6f5f; }

.header__item {
  display: block;
  flex: 33.333333%;
  text-align: center;
  padding: 9px 18px; }
  .header__item img {
    display: inline-block;
    vertical-align: middle; }

@media (max-width: 992px) {
  .header__left {
    width: 8.333333%;
    display: flex;
    justify-content: center;
    align-items: center; }

  .header__item {
    display: none; } }
.header__item:not(:last-child) {
  border-right: 1px solid #8b6f5f; }

.header__right {
  background-color: #433b35;
  width: 83.333333%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
  align-items: center; }

@media (max-width: 992px) {
  .header__right {
    width: 100%;
    padding: 10px; } }
.content {
  width: 83.333333%;
  float: right;
  background-color: #8e7161;
  padding: 20px;
  min-height: 100vh; }

@media (max-width: 992px) {
  .content {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
