.header {
    display: flex;
}
.header__left {
    width: 16.666667%;
    background-color: #5f5048;
    display: flex;
    justify-content: space-between;
    border: 1px solid #8b6f5f;
}

.header__item {
    display: block;
    flex: 33.333333%;
    text-align: center;
    padding: 9px 18px;
    & img {
        display: inline-block;
        vertical-align: middle;
    }
}

@media (max-width: 992px) {
    .header__left  {
        width: 8.333333%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__item {
        display: none;
    }
}

.header__item:not(:last-child) {
    border-right: 1px solid #8b6f5f;
}

.header__right {
    background-color: #433b35;
    width: 83.333333%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    align-items: center;
}

@media (max-width: 992px) {
    .header__right {
        width: 100%;
        padding: 10px;
    }
}