.page {
    margin-top: 40px;
    width: 300px;
}
.pagination {
    margin: 0;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0;
    background-color: #1c1613;
    border: 1px solid #9c918a;
    border-radius: 3px;
    .page__item {
        list-style: none;
        display: block;
        text-align: center;
        border-right: 1px solid #9c918a;
        .page__link {
            color: #cfcece;
            text-decoration: none;
            display: block;
            padding: 8px 10px;
        }
    }
}
