.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-color {
    background-color: #594e48;
    td {
        color: #d9d7d6;
        padding: 8px;
    }
}

th {
    text-align: left;
    color: #d9d7d6;
    padding: 8px;
}