.tx-color {
    color: #e0d3d2 !important;
}

.text-color {
    color: #cfcece !important;
}

.bg-color {
    background-color: #302621 !important;
}

.clearfix {
    content: "";
    clear: both;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mr-60 {
    margin-right: 60px;
}

.close {
    color: white;
    display: block;
    text-decoration: none;
    i {
        display: block;
    }
    :hover {
        color: black;
    }
}